# Python
__pycache__/

# Poetry
.poetry/
*.lock

# Virtual environments
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# VSCode
.vscode/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Data
data/
*.parquet

secrets/aws_accessKeys.csv
.env

#Airflow
logs/
config/
plugins/

src/silver/temp/*.parquet